@import './container.css';

body {
  --section-padding: var(--space-2xs-m);
  padding: var(--section-padding);
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex: 1 1 0%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  > section + section {
    margin-block-start: var(--section-padding);
  }
}

.section {
  background-color: var(--background-color);
  color: var(--color-text);

  &[data-padding='none'] {
    padding-block: 0;
  }

  &[data-padding='m'] {
    padding-block: var(--space-xl);
  }

  &[data-padding='l'] {
    padding-block: var(--space-3xl);
  }

  &[data-padding='xl'] {
    padding-block: var(--space-5xl);
  }
}

/* HC */
.section {
  border-radius: var(--radius-lg);
  padding-block: var(--space-2xl);
}
