/* -------------------------------------------------------------------------- /
  Button
/ -------------------------------------------------------------------------- */

.button-wrapper {
  color: var(--color-text-accent);

  &:hover {
    color: var(--color-text-accent);
  }

  &:active {
    color: orange;
  }
}

.button {
  color: var(--color-text-accent);
  padding-block: var(--space-s);
  padding-inline: var(--space-m);
  background: unset;
  border: unset;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--letter-spacing-loose);
  transition: 0.3s all var(--easing);
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-xs);
}
