/* -------------------------------------------------------------------------- /
  Prose styles
/ -------------------------------------------------------------------------- */

.prose {
  --prose-body: #374151;
  --prose-headings: #111827;
  --prose-lead: #4b5563;
  --prose-links: #111827;
  --prose-bold: #111827;
  --prose-counters: #6b7280;
  --prose-bullets: #d1d5db;
  --prose-hr: #e5e7eb;
  --prose-quotes: #111827;
  --prose-quote-borders: #e5e7eb;
  --prose-captions: #6b7280;
  --prose-code: #111827;
  --prose-pre-code: #e5e7eb;
  --prose-pre-bg: #1f2937;
  --prose-th-borders: #d1d5db;
  --prose-td-borders: #e5e7eb;
  --prose-invert-body: #d1d5db;
  --prose-invert-headings: #fff;
  --prose-invert-lead: #9ca3af;
  --prose-invert-links: #fff;
  --prose-invert-bold: #fff;
  --prose-invert-counters: #9ca3af;
  --prose-invert-bullets: #4b5563;
  --prose-invert-hr: #374151;
  --prose-invert-quotes: #f3f4f6;
  --prose-invert-quote-borders: #374151;
  --prose-invert-captions: #9ca3af;
  --prose-invert-code: #fff;
  --prose-invert-pre-code: #d1d5db;
  --prose-invert-pre-bg: rgb(0 0 0 / 50%);
  --prose-invert-th-borders: #4b5563;
  --prose-invert-td-borders: #374151;
  font-size: 1rem;
  line-height: 1.75;

  color: var(--prose-body);
  max-width: var(--prose-max-width, 65ch);
}

.prose :where(p):not(:where([class~='not-prose'] *)) {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

.prose :where([class~='lead']):not(:where([class~='not-prose'] *)) {
  color: var(--prose-lead);
  font-size: 1.25em;
  line-height: 1.6;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}

.prose :where(a):not(:where([class~='not-prose'] *)) {
  color: var(--prose-links);
  text-decoration: underline;
  font-weight: 500;
}

.prose :where(strong):not(:where([class~='not-prose'] *)) {
  color: var(--prose-bold);
  font-weight: 600;
}

.prose :where(a strong):not(:where([class~='not-prose'] *)) {
  color: inherit;
}

.prose :where(blockquote strong):not(:where([class~='not-prose'] *)) {
  color: inherit;
}

.prose :where(thead th strong):not(:where([class~='not-prose'] *)) {
  color: inherit;
}

.prose :where(ol):not(:where([class~='not-prose'] *)) {
  list-style-type: decimal;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  padding-left: 1.625em;
}

.prose :where(ol[type='A']):not(:where([class~='not-prose'] *)) {
  list-style-type: upper-alpha;
}

.prose :where(ol[type='a']):not(:where([class~='not-prose'] *)) {
  list-style-type: lower-alpha;
}

.prose :where(ol[type='A' s]):not(:where([class~='not-prose'] *)) {
  list-style-type: upper-alpha;
}

.prose :where(ol[type='a' s]):not(:where([class~='not-prose'] *)) {
  list-style-type: lower-alpha;
}

.prose :where(ol[type='I']):not(:where([class~='not-prose'] *)) {
  list-style-type: upper-roman;
}

.prose :where(ol[type='i']):not(:where([class~='not-prose'] *)) {
  list-style-type: lower-roman;
}

.prose :where(ol[type='I' s]):not(:where([class~='not-prose'] *)) {
  list-style-type: upper-roman;
}

.prose :where(ol[type='i' s]):not(:where([class~='not-prose'] *)) {
  list-style-type: lower-roman;
}

.prose :where(ol[type='1']):not(:where([class~='not-prose'] *)) {
  list-style-type: decimal;
}

.prose :where(ul):not(:where([class~='not-prose'] *)) {
  list-style-type: disc;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  padding-left: 1.625em;
}

.prose :where(ol > li):not(:where([class~='not-prose'] *))::marker {
  font-weight: 400;
  color: var(--prose-counters);
}

.prose :where(ul > li):not(:where([class~='not-prose'] *))::marker {
  color: var(--prose-bullets);
}

.prose :where(hr):not(:where([class~='not-prose'] *)) {
  border-color: var(--prose-hr);
  border-top-width: 1px;
  margin-top: 3em;
  margin-bottom: 3em;
}

.prose :where(blockquote):not(:where([class~='not-prose'] *)) {
  font-weight: 500;
  font-style: italic;
  color: var(--prose-quotes);
  border-left-width: 0.25rem;
  border-left-color: var(--prose-quote-borders);
  quotes: '\201C' '\201D' '\2018' '\2019';
  margin-top: 1.6em;
  margin-bottom: 1.6em;
  padding-left: 1em;
}

.prose
  :where(blockquote p:first-of-type):not(
    :where([class~='not-prose'] *)
  )::before {
  content: open-quote;
}

.prose
  :where(blockquote p:last-of-type):not(:where([class~='not-prose'] *))::after {
  content: close-quote;
}

.prose :where(h1):not(:where([class~='not-prose'] *)) {
  color: var(--prose-headings);
  font-weight: 800;
  font-size: 2.25em;
  margin-top: 0;
  margin-bottom: 0.8888889em;
  line-height: 1.1111111;
}

.prose :where(h1 strong):not(:where([class~='not-prose'] *)) {
  font-weight: 900;
  color: inherit;
}

.prose :where(h2):not(:where([class~='not-prose'] *)) {
  color: var(--prose-headings);
  font-weight: 700;
  font-size: 1.5em;
  margin-top: 2em;
  margin-bottom: 1em;
  line-height: 1.3333333;
}

.prose :where(h2 strong):not(:where([class~='not-prose'] *)) {
  font-weight: 800;
  color: inherit;
}

.prose :where(h3):not(:where([class~='not-prose'] *)) {
  color: var(--prose-headings);
  font-weight: 600;
  font-size: 1.25em;
  margin-top: 1.6em;
  margin-bottom: 0.6em;
  line-height: 1.6;
}

.prose :where(h3 strong):not(:where([class~='not-prose'] *)) {
  font-weight: 700;
  color: inherit;
}

.prose :where(h4):not(:where([class~='not-prose'] *)) {
  color: var(--prose-headings);
  font-weight: 600;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  line-height: 1.5;
}

.prose :where(h4 strong):not(:where([class~='not-prose'] *)) {
  font-weight: 700;
  color: inherit;
}

.prose :where(img):not(:where([class~='not-prose'] *)) {
  margin-top: 2em;
  margin-bottom: 2em;
}

.prose :where(figure > *):not(:where([class~='not-prose'] *)) {
  margin-top: 0;
  margin-bottom: 0;
}

.prose :where(figcaption):not(:where([class~='not-prose'] *)) {
  color: var(--prose-captions);
  font-size: 0.875em;
  line-height: 1.4285714;
  margin-top: 0.8571429em;
}

.prose :where(code):not(:where([class~='not-prose'] *)) {
  color: var(--prose-code);
  font-weight: 600;
  font-size: 0.875em;
}

.prose :where(code):not(:where([class~='not-prose'] *))::before {
  content: '`';
}

.prose :where(code):not(:where([class~='not-prose'] *))::after {
  content: '`';
}

.prose :where(a code):not(:where([class~='not-prose'] *)) {
  color: inherit;
}

.prose :where(h1 code):not(:where([class~='not-prose'] *)) {
  color: inherit;
}

.prose :where(h2 code):not(:where([class~='not-prose'] *)) {
  color: inherit;
  font-size: 0.875em;
}

.prose :where(h3 code):not(:where([class~='not-prose'] *)) {
  color: inherit;
  font-size: 0.9em;
}

.prose :where(h4 code):not(:where([class~='not-prose'] *)) {
  color: inherit;
}

.prose :where(blockquote code):not(:where([class~='not-prose'] *)) {
  color: inherit;
}

.prose :where(thead th code):not(:where([class~='not-prose'] *)) {
  color: inherit;
}

.prose :where(pre):not(:where([class~='not-prose'] *)) {
  color: var(--prose-pre-code);
  background-color: var(--prose-pre-bg);
  overflow-x: auto;
  font-weight: 400;
  font-size: 0.875em;
  line-height: 1.7142857;
  margin-top: 1.7142857em;
  margin-bottom: 1.7142857em;
  border-radius: 0.375rem;
  padding-top: 0.8571429em;
  padding-right: 1.1428571em;
  padding-bottom: 0.8571429em;
  padding-left: 1.1428571em;
}

.prose :where(pre code):not(:where([class~='not-prose'] *)) {
  background-color: transparent;
  border-width: 0;
  border-radius: 0;
  padding: 0;
  font-weight: inherit;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}

.prose :where(pre code):not(:where([class~='not-prose'] *))::before {
  content: none;
}

.prose :where(pre code):not(:where([class~='not-prose'] *))::after {
  content: none;
}

.prose :where(table):not(:where([class~='not-prose'] *)) {
  width: 100%;
  table-layout: auto;
  text-align: left;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 0.875em;
  line-height: 1.7142857;
}

.prose :where(thead):not(:where([class~='not-prose'] *)) {
  border-bottom-width: 1px;
  border-bottom-color: var(--prose-th-borders);
}

.prose :where(thead th):not(:where([class~='not-prose'] *)) {
  color: var(--prose-headings);
  font-weight: 600;
  vertical-align: bottom;
  padding-right: 0.5714286em;
  padding-bottom: 0.5714286em;
  padding-left: 0.5714286em;
}

.prose :where(tbody tr):not(:where([class~='not-prose'] *)) {
  border-bottom-width: 1px;
  border-bottom-color: var(--prose-td-borders);
}

.prose :where(tbody tr:last-child):not(:where([class~='not-prose'] *)) {
  border-bottom-width: 0;
}

.prose :where(tbody td):not(:where([class~='not-prose'] *)) {
  vertical-align: baseline;
}

.prose :where(tfoot):not(:where([class~='not-prose'] *)) {
  border-top-width: 1px;
  border-top-color: var(--prose-th-borders);
}

.prose :where(tfoot td):not(:where([class~='not-prose'] *)) {
  vertical-align: top;
}

.prose :where(video):not(:where([class~='not-prose'] *)) {
  margin-top: 2em;
  margin-bottom: 2em;
}

.prose :where(figure):not(:where([class~='not-prose'] *)) {
  margin-top: 2em;
  margin-bottom: 2em;
}

.prose :where(li):not(:where([class~='not-prose'] *)) {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.prose :where(ol > li):not(:where([class~='not-prose'] *)) {
  padding-left: 0.375em;
}

.prose :where(ul > li):not(:where([class~='not-prose'] *)) {
  padding-left: 0.375em;
}

.prose :where(.prose > ul > li p):not(:where([class~='not-prose'] *)) {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

.prose
  :where(.prose > ul > li > *:first-child):not(:where([class~='not-prose'] *)) {
  margin-top: 1.25em;
}

.prose
  :where(.prose > ul > li > *:last-child):not(:where([class~='not-prose'] *)) {
  margin-bottom: 1.25em;
}

.prose
  :where(.prose > ol > li > *:first-child):not(:where([class~='not-prose'] *)) {
  margin-top: 1.25em;
}

.prose
  :where(.prose > ol > li > *:last-child):not(:where([class~='not-prose'] *)) {
  margin-bottom: 1.25em;
}

.prose :where(ul ul, ul ol, ol ul, ol ol):not(:where([class~='not-prose'] *)) {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

.prose :where(hr + *):not(:where([class~='not-prose'] *)) {
  margin-top: 0;
}

.prose :where(h2 + *):not(:where([class~='not-prose'] *)) {
  margin-top: 0;
}

.prose :where(h3 + *):not(:where([class~='not-prose'] *)) {
  margin-top: 0;
}

.prose :where(h4 + *):not(:where([class~='not-prose'] *)) {
  margin-top: 0;
}

.prose :where(thead th:first-child):not(:where([class~='not-prose'] *)) {
  padding-left: 0;
}

.prose :where(thead th:last-child):not(:where([class~='not-prose'] *)) {
  padding-right: 0;
}

.prose :where(tbody td, tfoot td):not(:where([class~='not-prose'] *)) {
  padding-top: 0.5714286em;
  padding-right: 0.5714286em;
  padding-bottom: 0.5714286em;
  padding-left: 0.5714286em;
}

.prose
  :where(tbody td:first-child, tfoot td:first-child):not(
    :where([class~='not-prose'] *)
  ) {
  padding-left: 0;
}

.prose
  :where(tbody td:last-child, tfoot td:last-child):not(
    :where([class~='not-prose'] *)
  ) {
  padding-right: 0;
}

.prose :where(.prose > :first-child):not(:where([class~='not-prose'] *)) {
  margin-top: 0;
}

.prose :where(.prose > :last-child):not(:where([class~='not-prose'] *)) {
  margin-bottom: 0;
}

.prose-sm {
  font-size: 0.875rem;
  line-height: 1.7142857;
}

.prose-sm :where(p):not(:where([class~='not-prose'] *)) {
  margin-top: 1.1428571em;
  margin-bottom: 1.1428571em;
}

.prose-sm :where([class~='lead']):not(:where([class~='not-prose'] *)) {
  font-size: 1.2857143em;
  line-height: 1.5555556;
  margin-top: 0.8888889em;
  margin-bottom: 0.8888889em;
}

.prose-sm :where(blockquote):not(:where([class~='not-prose'] *)) {
  margin-top: 1.3333333em;
  margin-bottom: 1.3333333em;
  padding-left: 1.1111111em;
}

.prose-sm :where(h1):not(:where([class~='not-prose'] *)) {
  font-size: 2.1428571em;
  margin-top: 0;
  margin-bottom: 0.8em;
  line-height: 1.2;
}

.prose-sm :where(h2):not(:where([class~='not-prose'] *)) {
  font-size: 1.4285714em;
  margin-top: 1.6em;
  margin-bottom: 0.8em;
  line-height: 1.4;
}

.prose-sm :where(h3):not(:where([class~='not-prose'] *)) {
  font-size: 1.2857143em;
  margin-top: 1.5555556em;
  margin-bottom: 0.4444444em;
  line-height: 1.5555556;
}

.prose-sm :where(h4):not(:where([class~='not-prose'] *)) {
  margin-top: 1.4285714em;
  margin-bottom: 0.5714286em;
  line-height: 1.4285714;
}

.prose-sm :where(img):not(:where([class~='not-prose'] *)) {
  margin-top: 1.7142857em;
  margin-bottom: 1.7142857em;
}

.prose-sm :where(video):not(:where([class~='not-prose'] *)) {
  margin-top: 1.7142857em;
  margin-bottom: 1.7142857em;
}

.prose-sm :where(figure):not(:where([class~='not-prose'] *)) {
  margin-top: 1.7142857em;
  margin-bottom: 1.7142857em;
}

.prose-sm :where(figure > *):not(:where([class~='not-prose'] *)) {
  margin-top: 0;
  margin-bottom: 0;
}

.prose-sm :where(figcaption):not(:where([class~='not-prose'] *)) {
  font-size: 0.8571429em;
  line-height: 1.3333333;
  margin-top: 0.6666667em;
}

.prose-sm :where(code):not(:where([class~='not-prose'] *)) {
  font-size: 0.8571429em;
}

.prose-sm :where(h2 code):not(:where([class~='not-prose'] *)) {
  font-size: 0.9em;
}

.prose-sm :where(h3 code):not(:where([class~='not-prose'] *)) {
  font-size: 0.8888889em;
}

.prose-sm :where(pre):not(:where([class~='not-prose'] *)) {
  font-size: 0.8571429em;
  line-height: 1.6666667;
  margin-top: 1.6666667em;
  margin-bottom: 1.6666667em;
  border-radius: 0.25rem;
  padding-top: 0.6666667em;
  padding-right: 1em;
  padding-bottom: 0.6666667em;
  padding-left: 1em;
}

.prose-sm :where(ol):not(:where([class~='not-prose'] *)) {
  margin-top: 1.1428571em;
  margin-bottom: 1.1428571em;
  padding-left: 1.5714286em;
}

.prose-sm :where(ul):not(:where([class~='not-prose'] *)) {
  margin-top: 1.1428571em;
  margin-bottom: 1.1428571em;
  padding-left: 1.5714286em;
}

.prose-sm :where(li):not(:where([class~='not-prose'] *)) {
  margin-top: 0.2857143em;
  margin-bottom: 0.2857143em;
}

.prose-sm :where(ol > li):not(:where([class~='not-prose'] *)) {
  padding-left: 0.4285714em;
}

.prose-sm :where(ul > li):not(:where([class~='not-prose'] *)) {
  padding-left: 0.4285714em;
}

.prose-sm :where(.prose-sm > ul > li p):not(:where([class~='not-prose'] *)) {
  margin-top: 0.5714286em;
  margin-bottom: 0.5714286em;
}

.prose-sm
  :where(.prose-sm > ul > li > *:first-child):not(
    :where([class~='not-prose'] *)
  ) {
  margin-top: 1.1428571em;
}

.prose-sm
  :where(.prose-sm > ul > li > *:last-child):not(
    :where([class~='not-prose'] *)
  ) {
  margin-bottom: 1.1428571em;
}

.prose-sm
  :where(.prose-sm > ol > li > *:first-child):not(
    :where([class~='not-prose'] *)
  ) {
  margin-top: 1.1428571em;
}

.prose-sm
  :where(.prose-sm > ol > li > *:last-child):not(
    :where([class~='not-prose'] *)
  ) {
  margin-bottom: 1.1428571em;
}

.prose-sm
  :where(ul ul, ul ol, ol ul, ol ol):not(:where([class~='not-prose'] *)) {
  margin-top: 0.5714286em;
  margin-bottom: 0.5714286em;
}

.prose-sm :where(hr):not(:where([class~='not-prose'] *)) {
  margin-top: 2.8571429em;
  margin-bottom: 2.8571429em;
}

.prose-sm :where(hr + *):not(:where([class~='not-prose'] *)) {
  margin-top: 0;
}

.prose-sm :where(h2 + *):not(:where([class~='not-prose'] *)) {
  margin-top: 0;
}

.prose-sm :where(h3 + *):not(:where([class~='not-prose'] *)) {
  margin-top: 0;
}

.prose-sm :where(h4 + *):not(:where([class~='not-prose'] *)) {
  margin-top: 0;
}

.prose-sm :where(table):not(:where([class~='not-prose'] *)) {
  font-size: 0.8571429em;
  line-height: 1.5;
}

.prose-sm :where(thead th):not(:where([class~='not-prose'] *)) {
  padding-right: 1em;
  padding-bottom: 0.6666667em;
  padding-left: 1em;
}

.prose-sm :where(thead th:first-child):not(:where([class~='not-prose'] *)) {
  padding-left: 0;
}

.prose-sm :where(thead th:last-child):not(:where([class~='not-prose'] *)) {
  padding-right: 0;
}

.prose-sm :where(tbody td, tfoot td):not(:where([class~='not-prose'] *)) {
  padding-top: 0.6666667em;
  padding-right: 1em;
  padding-bottom: 0.6666667em;
  padding-left: 1em;
}

.prose-sm
  :where(tbody td:first-child, tfoot td:first-child):not(
    :where([class~='not-prose'] *)
  ) {
  padding-left: 0;
}

.prose-sm
  :where(tbody td:last-child, tfoot td:last-child):not(
    :where([class~='not-prose'] *)
  ) {
  padding-right: 0;
}

.prose-sm :where(.prose-sm > :first-child):not(:where([class~='not-prose'] *)) {
  margin-top: 0;
}

.prose-sm :where(.prose-sm > :last-child):not(:where([class~='not-prose'] *)) {
  margin-bottom: 0;
}

.prose-base {
  font-size: 1rem;
  line-height: 1.75;
}

.prose-base :where(p):not(:where([class~='not-prose'] *)) {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

.prose-base :where([class~='lead']):not(:where([class~='not-prose'] *)) {
  font-size: 1.25em;
  line-height: 1.6;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}

.prose-base :where(blockquote):not(:where([class~='not-prose'] *)) {
  margin-top: 1.6em;
  margin-bottom: 1.6em;
  padding-left: 1em;
}

.prose-base :where(h1):not(:where([class~='not-prose'] *)) {
  font-size: 2.25em;
  margin-top: 0;
  margin-bottom: 0.8888889em;
  line-height: 1.1111111;
}

.prose-base :where(h2):not(:where([class~='not-prose'] *)) {
  font-size: 1.5em;
  margin-top: 2em;
  margin-bottom: 1em;
  line-height: 1.3333333;
}

.prose-base :where(h3):not(:where([class~='not-prose'] *)) {
  font-size: 1.25em;
  margin-top: 1.6em;
  margin-bottom: 0.6em;
  line-height: 1.6;
}

.prose-base :where(h4):not(:where([class~='not-prose'] *)) {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  line-height: 1.5;
}

.prose-base :where(img):not(:where([class~='not-prose'] *)) {
  margin-top: 2em;
  margin-bottom: 2em;
}

.prose-base :where(video):not(:where([class~='not-prose'] *)) {
  margin-top: 2em;
  margin-bottom: 2em;
}

.prose-base :where(figure):not(:where([class~='not-prose'] *)) {
  margin-top: 2em;
  margin-bottom: 2em;
}

.prose-base :where(figure > *):not(:where([class~='not-prose'] *)) {
  margin-top: 0;
  margin-bottom: 0;
}

.prose-base :where(figcaption):not(:where([class~='not-prose'] *)) {
  font-size: 0.875em;
  line-height: 1.4285714;
  margin-top: 0.8571429em;
}

.prose-base :where(code):not(:where([class~='not-prose'] *)) {
  font-size: 0.875em;
}

.prose-base :where(h2 code):not(:where([class~='not-prose'] *)) {
  font-size: 0.875em;
}

.prose-base :where(h3 code):not(:where([class~='not-prose'] *)) {
  font-size: 0.9em;
}

.prose-base :where(pre):not(:where([class~='not-prose'] *)) {
  font-size: 0.875em;
  line-height: 1.7142857;
  margin-top: 1.7142857em;
  margin-bottom: 1.7142857em;
  border-radius: 0.375rem;
  padding-top: 0.8571429em;
  padding-right: 1.1428571em;
  padding-bottom: 0.8571429em;
  padding-left: 1.1428571em;
}

.prose-base :where(ol):not(:where([class~='not-prose'] *)) {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  padding-left: 1.625em;
}

.prose-base :where(ul):not(:where([class~='not-prose'] *)) {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  padding-left: 1.625em;
}

.prose-base :where(li):not(:where([class~='not-prose'] *)) {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.prose-base :where(ol > li):not(:where([class~='not-prose'] *)) {
  padding-left: 0.375em;
}

.prose-base :where(ul > li):not(:where([class~='not-prose'] *)) {
  padding-left: 0.375em;
}

.prose-base
  :where(.prose-base > ul > li p):not(:where([class~='not-prose'] *)) {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

.prose-base
  :where(.prose-base > ul > li > *:first-child):not(
    :where([class~='not-prose'] *)
  ) {
  margin-top: 1.25em;
}

.prose-base
  :where(.prose-base > ul > li > *:last-child):not(
    :where([class~='not-prose'] *)
  ) {
  margin-bottom: 1.25em;
}

.prose-base
  :where(.prose-base > ol > li > *:first-child):not(
    :where([class~='not-prose'] *)
  ) {
  margin-top: 1.25em;
}

.prose-base
  :where(.prose-base > ol > li > *:last-child):not(
    :where([class~='not-prose'] *)
  ) {
  margin-bottom: 1.25em;
}

.prose-base
  :where(ul ul, ul ol, ol ul, ol ol):not(:where([class~='not-prose'] *)) {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

.prose-base :where(hr):not(:where([class~='not-prose'] *)) {
  margin-top: 3em;
  margin-bottom: 3em;
}

.prose-base :where(hr + *):not(:where([class~='not-prose'] *)) {
  margin-top: 0;
}

.prose-base :where(h2 + *):not(:where([class~='not-prose'] *)) {
  margin-top: 0;
}

.prose-base :where(h3 + *):not(:where([class~='not-prose'] *)) {
  margin-top: 0;
}

.prose-base :where(h4 + *):not(:where([class~='not-prose'] *)) {
  margin-top: 0;
}

.prose-base :where(table):not(:where([class~='not-prose'] *)) {
  font-size: 0.875em;
  line-height: 1.7142857;
}

.prose-base :where(thead th):not(:where([class~='not-prose'] *)) {
  padding-right: 0.5714286em;
  padding-bottom: 0.5714286em;
  padding-left: 0.5714286em;
}

.prose-base :where(thead th:first-child):not(:where([class~='not-prose'] *)) {
  padding-left: 0;
}

.prose-base :where(thead th:last-child):not(:where([class~='not-prose'] *)) {
  padding-right: 0;
}

.prose-base :where(tbody td, tfoot td):not(:where([class~='not-prose'] *)) {
  padding-top: 0.5714286em;
  padding-right: 0.5714286em;
  padding-bottom: 0.5714286em;
  padding-left: 0.5714286em;
}

.prose-base
  :where(tbody td:first-child, tfoot td:first-child):not(
    :where([class~='not-prose'] *)
  ) {
  padding-left: 0;
}

.prose-base
  :where(tbody td:last-child, tfoot td:last-child):not(
    :where([class~='not-prose'] *)
  ) {
  padding-right: 0;
}

.prose-base
  :where(.prose-base > :first-child):not(:where([class~='not-prose'] *)) {
  margin-top: 0;
}

.prose-base
  :where(.prose-base > :last-child):not(:where([class~='not-prose'] *)) {
  margin-bottom: 0;
}

.prose-lg {
  font-size: 1.125rem;
  line-height: 1.7777778;
}

.prose-lg :where(p):not(:where([class~='not-prose'] *)) {
  margin-top: 1.3333333em;
  margin-bottom: 1.3333333em;
}

.prose-lg :where([class~='lead']):not(:where([class~='not-prose'] *)) {
  font-size: 1.2222222em;
  line-height: 1.4545455;
  margin-top: 1.0909091em;
  margin-bottom: 1.0909091em;
}

.prose-lg :where(blockquote):not(:where([class~='not-prose'] *)) {
  margin-top: 1.6666667em;
  margin-bottom: 1.6666667em;
  padding-left: 1em;
}

.prose-lg :where(h1):not(:where([class~='not-prose'] *)) {
  font-size: 2.6666667em;
  margin-top: 0;
  margin-bottom: 0.8333333em;
  line-height: 1;
}

.prose-lg :where(h2):not(:where([class~='not-prose'] *)) {
  font-size: 1.6666667em;
  margin-top: 1.8666667em;
  margin-bottom: 1.0666667em;
  line-height: 1.3333333;
}

.prose-lg :where(h3):not(:where([class~='not-prose'] *)) {
  font-size: 1.3333333em;
  margin-top: 1.6666667em;
  margin-bottom: 0.6666667em;
  line-height: 1.5;
}

.prose-lg :where(h4):not(:where([class~='not-prose'] *)) {
  margin-top: 1.7777778em;
  margin-bottom: 0.4444444em;
  line-height: 1.5555556;
}

.prose-lg :where(img):not(:where([class~='not-prose'] *)) {
  margin-top: 1.7777778em;
  margin-bottom: 1.7777778em;
}

.prose-lg :where(video):not(:where([class~='not-prose'] *)) {
  margin-top: 1.7777778em;
  margin-bottom: 1.7777778em;
}

.prose-lg :where(figure):not(:where([class~='not-prose'] *)) {
  margin-top: 1.7777778em;
  margin-bottom: 1.7777778em;
}

.prose-lg :where(figure > *):not(:where([class~='not-prose'] *)) {
  margin-top: 0;
  margin-bottom: 0;
}

.prose-lg :where(figcaption):not(:where([class~='not-prose'] *)) {
  font-size: 0.8888889em;
  line-height: 1.5;
  margin-top: 1em;
}

.prose-lg :where(code):not(:where([class~='not-prose'] *)) {
  font-size: 0.8888889em;
}

.prose-lg :where(h2 code):not(:where([class~='not-prose'] *)) {
  font-size: 0.8666667em;
}

.prose-lg :where(h3 code):not(:where([class~='not-prose'] *)) {
  font-size: 0.875em;
}

.prose-lg :where(pre):not(:where([class~='not-prose'] *)) {
  font-size: 0.8888889em;
  line-height: 1.75;
  margin-top: 2em;
  margin-bottom: 2em;
  border-radius: 0.375rem;
  padding-top: 1em;
  padding-right: 1.5em;
  padding-bottom: 1em;
  padding-left: 1.5em;
}

.prose-lg :where(ol):not(:where([class~='not-prose'] *)) {
  margin-top: 1.3333333em;
  margin-bottom: 1.3333333em;
  padding-left: 1.5555556em;
}

.prose-lg :where(ul):not(:where([class~='not-prose'] *)) {
  margin-top: 1.3333333em;
  margin-bottom: 1.3333333em;
  padding-left: 1.5555556em;
}

.prose-lg :where(li):not(:where([class~='not-prose'] *)) {
  margin-top: 0.6666667em;
  margin-bottom: 0.6666667em;
}

.prose-lg :where(ol > li):not(:where([class~='not-prose'] *)) {
  padding-left: 0.4444444em;
}

.prose-lg :where(ul > li):not(:where([class~='not-prose'] *)) {
  padding-left: 0.4444444em;
}

.prose-lg :where(.prose-lg > ul > li p):not(:where([class~='not-prose'] *)) {
  margin-top: 0.8888889em;
  margin-bottom: 0.8888889em;
}

.prose-lg
  :where(.prose-lg > ul > li > *:first-child):not(
    :where([class~='not-prose'] *)
  ) {
  margin-top: 1.3333333em;
}

.prose-lg
  :where(.prose-lg > ul > li > *:last-child):not(
    :where([class~='not-prose'] *)
  ) {
  margin-bottom: 1.3333333em;
}

.prose-lg
  :where(.prose-lg > ol > li > *:first-child):not(
    :where([class~='not-prose'] *)
  ) {
  margin-top: 1.3333333em;
}

.prose-lg
  :where(.prose-lg > ol > li > *:last-child):not(
    :where([class~='not-prose'] *)
  ) {
  margin-bottom: 1.3333333em;
}

.prose-lg
  :where(ul ul, ul ol, ol ul, ol ol):not(:where([class~='not-prose'] *)) {
  margin-top: 0.8888889em;
  margin-bottom: 0.8888889em;
}

.prose-lg :where(hr):not(:where([class~='not-prose'] *)) {
  margin-top: 3.1111111em;
  margin-bottom: 3.1111111em;
}

.prose-lg :where(hr + *):not(:where([class~='not-prose'] *)) {
  margin-top: 0;
}

.prose-lg :where(h2 + *):not(:where([class~='not-prose'] *)) {
  margin-top: 0;
}

.prose-lg :where(h3 + *):not(:where([class~='not-prose'] *)) {
  margin-top: 0;
}

.prose-lg :where(h4 + *):not(:where([class~='not-prose'] *)) {
  margin-top: 0;
}

.prose-lg :where(table):not(:where([class~='not-prose'] *)) {
  font-size: 0.8888889em;
  line-height: 1.5;
}

.prose-lg :where(thead th):not(:where([class~='not-prose'] *)) {
  padding-right: 0.75em;
  padding-bottom: 0.75em;
  padding-left: 0.75em;
}

.prose-lg :where(thead th:first-child):not(:where([class~='not-prose'] *)) {
  padding-left: 0;
}

.prose-lg :where(thead th:last-child):not(:where([class~='not-prose'] *)) {
  padding-right: 0;
}

.prose-lg :where(tbody td, tfoot td):not(:where([class~='not-prose'] *)) {
  padding-top: 0.75em;
  padding-right: 0.75em;
  padding-bottom: 0.75em;
  padding-left: 0.75em;
}

.prose-lg
  :where(tbody td:first-child, tfoot td:first-child):not(
    :where([class~='not-prose'] *)
  ) {
  padding-left: 0;
}

.prose-lg
  :where(tbody td:last-child, tfoot td:last-child):not(
    :where([class~='not-prose'] *)
  ) {
  padding-right: 0;
}

.prose-lg :where(.prose-lg > :first-child):not(:where([class~='not-prose'] *)) {
  margin-top: 0;
}

.prose-lg :where(.prose-lg > :last-child):not(:where([class~='not-prose'] *)) {
  margin-bottom: 0;
}

.prose-xl {
  font-size: 1.25rem;
  line-height: 1.8;
}

.prose-xl :where(p):not(:where([class~='not-prose'] *)) {
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}

.prose-xl :where([class~='lead']):not(:where([class~='not-prose'] *)) {
  font-size: 1.2em;
  line-height: 1.5;
  margin-top: 1em;
  margin-bottom: 1em;
}

.prose-xl :where(blockquote):not(:where([class~='not-prose'] *)) {
  margin-top: 1.6em;
  margin-bottom: 1.6em;
  padding-left: 1.0666667em;
}

.prose-xl :where(h1):not(:where([class~='not-prose'] *)) {
  font-size: 2.8em;
  margin-top: 0;
  margin-bottom: 0.8571429em;
  line-height: 1;
}

.prose-xl :where(h2):not(:where([class~='not-prose'] *)) {
  font-size: 1.8em;
  margin-top: 1.5555556em;
  margin-bottom: 0.8888889em;
  line-height: 1.1111111;
}

.prose-xl :where(h3):not(:where([class~='not-prose'] *)) {
  font-size: 1.5em;
  margin-top: 1.6em;
  margin-bottom: 0.6666667em;
  line-height: 1.3333333;
}

.prose-xl :where(h4):not(:where([class~='not-prose'] *)) {
  margin-top: 1.8em;
  margin-bottom: 0.6em;
  line-height: 1.6;
}

.prose-xl :where(img):not(:where([class~='not-prose'] *)) {
  margin-top: 2em;
  margin-bottom: 2em;
}

.prose-xl :where(video):not(:where([class~='not-prose'] *)) {
  margin-top: 2em;
  margin-bottom: 2em;
}

.prose-xl :where(figure):not(:where([class~='not-prose'] *)) {
  margin-top: 2em;
  margin-bottom: 2em;
}

.prose-xl :where(figure > *):not(:where([class~='not-prose'] *)) {
  margin-top: 0;
  margin-bottom: 0;
}

.prose-xl :where(figcaption):not(:where([class~='not-prose'] *)) {
  font-size: 0.9em;
  line-height: 1.5555556;
  margin-top: 1em;
}

.prose-xl :where(code):not(:where([class~='not-prose'] *)) {
  font-size: 0.9em;
}

.prose-xl :where(h2 code):not(:where([class~='not-prose'] *)) {
  font-size: 0.8611111em;
}

.prose-xl :where(h3 code):not(:where([class~='not-prose'] *)) {
  font-size: 0.9em;
}

.prose-xl :where(pre):not(:where([class~='not-prose'] *)) {
  font-size: 0.9em;
  line-height: 1.7777778;
  margin-top: 2em;
  margin-bottom: 2em;
  border-radius: 0.5rem;
  padding-top: 1.1111111em;
  padding-right: 1.3333333em;
  padding-bottom: 1.1111111em;
  padding-left: 1.3333333em;
}

.prose-xl :where(ol):not(:where([class~='not-prose'] *)) {
  margin-top: 1.2em;
  margin-bottom: 1.2em;
  padding-left: 1.6em;
}

.prose-xl :where(ul):not(:where([class~='not-prose'] *)) {
  margin-top: 1.2em;
  margin-bottom: 1.2em;
  padding-left: 1.6em;
}

.prose-xl :where(li):not(:where([class~='not-prose'] *)) {
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}

.prose-xl :where(ol > li):not(:where([class~='not-prose'] *)) {
  padding-left: 0.4em;
}

.prose-xl :where(ul > li):not(:where([class~='not-prose'] *)) {
  padding-left: 0.4em;
}

.prose-xl :where(.prose-xl > ul > li p):not(:where([class~='not-prose'] *)) {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}

.prose-xl
  :where(.prose-xl > ul > li > *:first-child):not(
    :where([class~='not-prose'] *)
  ) {
  margin-top: 1.2em;
}

.prose-xl
  :where(.prose-xl > ul > li > *:last-child):not(
    :where([class~='not-prose'] *)
  ) {
  margin-bottom: 1.2em;
}

.prose-xl
  :where(.prose-xl > ol > li > *:first-child):not(
    :where([class~='not-prose'] *)
  ) {
  margin-top: 1.2em;
}

.prose-xl
  :where(.prose-xl > ol > li > *:last-child):not(
    :where([class~='not-prose'] *)
  ) {
  margin-bottom: 1.2em;
}

.prose-xl
  :where(ul ul, ul ol, ol ul, ol ol):not(:where([class~='not-prose'] *)) {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}

.prose-xl :where(hr):not(:where([class~='not-prose'] *)) {
  margin-top: 2.8em;
  margin-bottom: 2.8em;
}

.prose-xl :where(hr + *):not(:where([class~='not-prose'] *)) {
  margin-top: 0;
}

.prose-xl :where(h2 + *):not(:where([class~='not-prose'] *)) {
  margin-top: 0;
}

.prose-xl :where(h3 + *):not(:where([class~='not-prose'] *)) {
  margin-top: 0;
}

.prose-xl :where(h4 + *):not(:where([class~='not-prose'] *)) {
  margin-top: 0;
}

.prose-xl :where(table):not(:where([class~='not-prose'] *)) {
  font-size: 0.9em;
  line-height: 1.5555556;
}

.prose-xl :where(thead th):not(:where([class~='not-prose'] *)) {
  padding-right: 0.6666667em;
  padding-bottom: 0.8888889em;
  padding-left: 0.6666667em;
}

.prose-xl :where(thead th:first-child):not(:where([class~='not-prose'] *)) {
  padding-left: 0;
}

.prose-xl :where(thead th:last-child):not(:where([class~='not-prose'] *)) {
  padding-right: 0;
}

.prose-xl :where(tbody td, tfoot td):not(:where([class~='not-prose'] *)) {
  padding-top: 0.8888889em;
  padding-right: 0.6666667em;
  padding-bottom: 0.8888889em;
  padding-left: 0.6666667em;
}

.prose-xl
  :where(tbody td:first-child, tfoot td:first-child):not(
    :where([class~='not-prose'] *)
  ) {
  padding-left: 0;
}

.prose-xl
  :where(tbody td:last-child, tfoot td:last-child):not(
    :where([class~='not-prose'] *)
  ) {
  padding-right: 0;
}

.prose-xl :where(.prose-xl > :first-child):not(:where([class~='not-prose'] *)) {
  margin-top: 0;
}

.prose-xl :where(.prose-xl > :last-child):not(:where([class~='not-prose'] *)) {
  margin-bottom: 0;
}

.prose-2xl {
  font-size: 1.5rem;
  line-height: 1.6666667;
}

.prose-2xl :where(p):not(:where([class~='not-prose'] *)) {
  margin-top: 1.3333333em;
  margin-bottom: 1.3333333em;
}

.prose-2xl :where([class~='lead']):not(:where([class~='not-prose'] *)) {
  font-size: 1.25em;
  line-height: 1.4666667;
  margin-top: 1.0666667em;
  margin-bottom: 1.0666667em;
}

.prose-2xl :where(blockquote):not(:where([class~='not-prose'] *)) {
  margin-top: 1.7777778em;
  margin-bottom: 1.7777778em;
  padding-left: 1.1111111em;
}

.prose-2xl :where(h1):not(:where([class~='not-prose'] *)) {
  font-size: 2.6666667em;
  margin-top: 0;
  margin-bottom: 0.875em;
  line-height: 1;
}

.prose-2xl :where(h2):not(:where([class~='not-prose'] *)) {
  font-size: 2em;
  margin-top: 1.5em;
  margin-bottom: 0.8333333em;
  line-height: 1.0833333;
}

.prose-2xl :where(h3):not(:where([class~='not-prose'] *)) {
  font-size: 1.5em;
  margin-top: 1.5555556em;
  margin-bottom: 0.6666667em;
  line-height: 1.2222222;
}

.prose-2xl :where(h4):not(:where([class~='not-prose'] *)) {
  margin-top: 1.6666667em;
  margin-bottom: 0.6666667em;
  line-height: 1.5;
}

.prose-2xl :where(img):not(:where([class~='not-prose'] *)) {
  margin-top: 2em;
  margin-bottom: 2em;
}

.prose-2xl :where(video):not(:where([class~='not-prose'] *)) {
  margin-top: 2em;
  margin-bottom: 2em;
}

.prose-2xl :where(figure):not(:where([class~='not-prose'] *)) {
  margin-top: 2em;
  margin-bottom: 2em;
}

.prose-2xl :where(figure > *):not(:where([class~='not-prose'] *)) {
  margin-top: 0;
  margin-bottom: 0;
}

.prose-2xl :where(figcaption):not(:where([class~='not-prose'] *)) {
  font-size: 0.8333333em;
  line-height: 1.6;
  margin-top: 1em;
}

.prose-2xl :where(code):not(:where([class~='not-prose'] *)) {
  font-size: 0.8333333em;
}

.prose-2xl :where(h2 code):not(:where([class~='not-prose'] *)) {
  font-size: 0.875em;
}

.prose-2xl :where(h3 code):not(:where([class~='not-prose'] *)) {
  font-size: 0.8888889em;
}

.prose-2xl :where(pre):not(:where([class~='not-prose'] *)) {
  font-size: 0.8333333em;
  line-height: 1.8;
  margin-top: 2em;
  margin-bottom: 2em;
  border-radius: 0.5rem;
  padding-top: 1.2em;
  padding-right: 1.6em;
  padding-bottom: 1.2em;
  padding-left: 1.6em;
}

.prose-2xl :where(ol):not(:where([class~='not-prose'] *)) {
  margin-top: 1.3333333em;
  margin-bottom: 1.3333333em;
  padding-left: 1.5833333em;
}

.prose-2xl :where(ul):not(:where([class~='not-prose'] *)) {
  margin-top: 1.3333333em;
  margin-bottom: 1.3333333em;
  padding-left: 1.5833333em;
}

.prose-2xl :where(li):not(:where([class~='not-prose'] *)) {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.prose-2xl :where(ol > li):not(:where([class~='not-prose'] *)) {
  padding-left: 0.4166667em;
}

.prose-2xl :where(ul > li):not(:where([class~='not-prose'] *)) {
  padding-left: 0.4166667em;
}

.prose-2xl :where(.prose-2xl > ul > li p):not(:where([class~='not-prose'] *)) {
  margin-top: 0.8333333em;
  margin-bottom: 0.8333333em;
}

.prose-2xl
  :where(.prose-2xl > ul > li > *:first-child):not(
    :where([class~='not-prose'] *)
  ) {
  margin-top: 1.3333333em;
}

.prose-2xl
  :where(.prose-2xl > ul > li > *:last-child):not(
    :where([class~='not-prose'] *)
  ) {
  margin-bottom: 1.3333333em;
}

.prose-2xl
  :where(.prose-2xl > ol > li > *:first-child):not(
    :where([class~='not-prose'] *)
  ) {
  margin-top: 1.3333333em;
}

.prose-2xl
  :where(.prose-2xl > ol > li > *:last-child):not(
    :where([class~='not-prose'] *)
  ) {
  margin-bottom: 1.3333333em;
}

.prose-2xl
  :where(ul ul, ul ol, ol ul, ol ol):not(:where([class~='not-prose'] *)) {
  margin-top: 0.6666667em;
  margin-bottom: 0.6666667em;
}

.prose-2xl :where(hr):not(:where([class~='not-prose'] *)) {
  margin-top: 3em;
  margin-bottom: 3em;
}

.prose-2xl :where(hr + *):not(:where([class~='not-prose'] *)) {
  margin-top: 0;
}

.prose-2xl :where(h2 + *):not(:where([class~='not-prose'] *)) {
  margin-top: 0;
}

.prose-2xl :where(h3 + *):not(:where([class~='not-prose'] *)) {
  margin-top: 0;
}

.prose-2xl :where(h4 + *):not(:where([class~='not-prose'] *)) {
  margin-top: 0;
}

.prose-2xl :where(table):not(:where([class~='not-prose'] *)) {
  font-size: 0.8333333em;
  line-height: 1.4;
}

.prose-2xl :where(thead th):not(:where([class~='not-prose'] *)) {
  padding-right: 0.6em;
  padding-bottom: 0.8em;
  padding-left: 0.6em;
}

.prose-2xl :where(thead th:first-child):not(:where([class~='not-prose'] *)) {
  padding-left: 0;
}

.prose-2xl :where(thead th:last-child):not(:where([class~='not-prose'] *)) {
  padding-right: 0;
}

.prose-2xl :where(tbody td, tfoot td):not(:where([class~='not-prose'] *)) {
  padding-top: 0.8em;
  padding-right: 0.6em;
  padding-bottom: 0.8em;
  padding-left: 0.6em;
}

.prose-2xl
  :where(tbody td:first-child, tfoot td:first-child):not(
    :where([class~='not-prose'] *)
  ) {
  padding-left: 0;
}

.prose-2xl
  :where(tbody td:last-child, tfoot td:last-child):not(
    :where([class~='not-prose'] *)
  ) {
  padding-right: 0;
}

.prose-2xl
  :where(.prose-2xl > :first-child):not(:where([class~='not-prose'] *)) {
  margin-top: 0;
}

.prose-2xl
  :where(.prose-2xl > :last-child):not(:where([class~='not-prose'] *)) {
  margin-bottom: 0;
}

.prose-invert {
  --prose-body: var(--prose-invert-body);
  --prose-headings: var(--prose-invert-headings);
  --prose-lead: var(--prose-invert-lead);
  --prose-links: var(--prose-invert-links);
  --prose-bold: var(--prose-invert-bold);
  --prose-counters: var(--prose-invert-counters);
  --prose-bullets: var(--prose-invert-bullets);
  --prose-hr: var(--prose-invert-hr);
  --prose-quotes: var(--prose-invert-quotes);
  --prose-quote-borders: var(--prose-invert-quote-borders);
  --prose-captions: var(--prose-invert-captions);
  --prose-code: var(--prose-invert-code);
  --prose-pre-code: var(--prose-invert-pre-code);
  --prose-pre-bg: var(--prose-invert-pre-bg);
  --prose-th-borders: var(--prose-invert-th-borders);
  --prose-td-borders: var(--prose-invert-td-borders);
}

.prose-slate {
  --prose-body: #334155;
  --prose-headings: #0f172a;
  --prose-lead: #475569;
  --prose-links: #0f172a;
  --prose-bold: #0f172a;
  --prose-counters: #64748b;
  --prose-bullets: #cbd5e1;
  --prose-hr: #e2e8f0;
  --prose-quotes: #0f172a;
  --prose-quote-borders: #e2e8f0;
  --prose-captions: #64748b;
  --prose-code: #0f172a;
  --prose-pre-code: #e2e8f0;
  --prose-pre-bg: #1e293b;
  --prose-th-borders: #cbd5e1;
  --prose-td-borders: #e2e8f0;
  --prose-invert-body: #cbd5e1;
  --prose-invert-headings: #fff;
  --prose-invert-lead: #94a3b8;
  --prose-invert-links: #fff;
  --prose-invert-bold: #fff;
  --prose-invert-counters: #94a3b8;
  --prose-invert-bullets: #475569;
  --prose-invert-hr: #334155;
  --prose-invert-quotes: #f1f5f9;
  --prose-invert-quote-borders: #334155;
  --prose-invert-captions: #94a3b8;
  --prose-invert-code: #fff;
  --prose-invert-pre-code: #cbd5e1;
  --prose-invert-pre-bg: rgb(0 0 0 / 50%);
  --prose-invert-th-borders: #475569;
  --prose-invert-td-borders: #334155;
}

.prose-gray {
  --prose-body: #374151;
  --prose-headings: #111827;
  --prose-lead: #4b5563;
  --prose-links: #111827;
  --prose-bold: #111827;
  --prose-counters: #6b7280;
  --prose-bullets: #d1d5db;
  --prose-hr: #e5e7eb;
  --prose-quotes: #111827;
  --prose-quote-borders: #e5e7eb;
  --prose-captions: #6b7280;
  --prose-code: #111827;
  --prose-pre-code: #e5e7eb;
  --prose-pre-bg: #1f2937;
  --prose-th-borders: #d1d5db;
  --prose-td-borders: #e5e7eb;
  --prose-invert-body: #d1d5db;
  --prose-invert-headings: #fff;
  --prose-invert-lead: #9ca3af;
  --prose-invert-links: #fff;
  --prose-invert-bold: #fff;
  --prose-invert-counters: #9ca3af;
  --prose-invert-bullets: #4b5563;
  --prose-invert-hr: #374151;
  --prose-invert-quotes: #f3f4f6;
  --prose-invert-quote-borders: #374151;
  --prose-invert-captions: #9ca3af;
  --prose-invert-code: #fff;
  --prose-invert-pre-code: #d1d5db;
  --prose-invert-pre-bg: rgb(0 0 0 / 50%);
  --prose-invert-th-borders: #4b5563;
  --prose-invert-td-borders: #374151;
}

.prose-zinc {
  --prose-body: #3f3f46;
  --prose-headings: #18181b;
  --prose-lead: #52525b;
  --prose-links: #18181b;
  --prose-bold: #18181b;
  --prose-counters: #71717a;
  --prose-bullets: #d4d4d8;
  --prose-hr: #e4e4e7;
  --prose-quotes: #18181b;
  --prose-quote-borders: #e4e4e7;
  --prose-captions: #71717a;
  --prose-code: #18181b;
  --prose-pre-code: #e4e4e7;
  --prose-pre-bg: #27272a;
  --prose-th-borders: #d4d4d8;
  --prose-td-borders: #e4e4e7;
  --prose-invert-body: #d4d4d8;
  --prose-invert-headings: #fff;
  --prose-invert-lead: #a1a1aa;
  --prose-invert-links: #fff;
  --prose-invert-bold: #fff;
  --prose-invert-counters: #a1a1aa;
  --prose-invert-bullets: #52525b;
  --prose-invert-hr: #3f3f46;
  --prose-invert-quotes: #f4f4f5;
  --prose-invert-quote-borders: #3f3f46;
  --prose-invert-captions: #a1a1aa;
  --prose-invert-code: #fff;
  --prose-invert-pre-code: #d4d4d8;
  --prose-invert-pre-bg: rgb(0 0 0 / 50%);
  --prose-invert-th-borders: #52525b;
  --prose-invert-td-borders: #3f3f46;
}

.prose-neutral {
  --prose-body: #404040;
  --prose-headings: #171717;
  --prose-lead: #525252;
  --prose-links: #171717;
  --prose-bold: #171717;
  --prose-counters: #737373;
  --prose-bullets: #d4d4d4;
  --prose-hr: #e5e5e5;
  --prose-quotes: #171717;
  --prose-quote-borders: #e5e5e5;
  --prose-captions: #737373;
  --prose-code: #171717;
  --prose-pre-code: #e5e5e5;
  --prose-pre-bg: #262626;
  --prose-th-borders: #d4d4d4;
  --prose-td-borders: #e5e5e5;
  --prose-invert-body: #d4d4d4;
  --prose-invert-headings: #fff;
  --prose-invert-lead: #a3a3a3;
  --prose-invert-links: #fff;
  --prose-invert-bold: #fff;
  --prose-invert-counters: #a3a3a3;
  --prose-invert-bullets: #525252;
  --prose-invert-hr: #404040;
  --prose-invert-quotes: #f5f5f5;
  --prose-invert-quote-borders: #404040;
  --prose-invert-captions: #a3a3a3;
  --prose-invert-code: #fff;
  --prose-invert-pre-code: #d4d4d4;
  --prose-invert-pre-bg: rgb(0 0 0 / 50%);
  --prose-invert-th-borders: #525252;
  --prose-invert-td-borders: #404040;
}

.prose-stone {
  --prose-body: #44403c;
  --prose-headings: #1c1917;
  --prose-lead: #57534e;
  --prose-links: #1c1917;
  --prose-bold: #1c1917;
  --prose-counters: #78716c;
  --prose-bullets: #d6d3d1;
  --prose-hr: #e7e5e4;
  --prose-quotes: #1c1917;
  --prose-quote-borders: #e7e5e4;
  --prose-captions: #78716c;
  --prose-code: #1c1917;
  --prose-pre-code: #e7e5e4;
  --prose-pre-bg: #292524;
  --prose-th-borders: #d6d3d1;
  --prose-td-borders: #e7e5e4;
  --prose-invert-body: #d6d3d1;
  --prose-invert-headings: #fff;
  --prose-invert-lead: #a8a29e;
  --prose-invert-links: #fff;
  --prose-invert-bold: #fff;
  --prose-invert-counters: #a8a29e;
  --prose-invert-bullets: #57534e;
  --prose-invert-hr: #44403c;
  --prose-invert-quotes: #f5f5f4;
  --prose-invert-quote-borders: #44403c;
  --prose-invert-captions: #a8a29e;
  --prose-invert-code: #fff;
  --prose-invert-pre-code: #d6d3d1;
  --prose-invert-pre-bg: rgb(0 0 0 / 50%);
  --prose-invert-th-borders: #57534e;
  --prose-invert-td-borders: #44403c;
}

.prose-red {
  --prose-links: #dc2626;
  --prose-invert-links: #ef4444;
}

.prose-orange {
  --prose-links: #ea580c;
  --prose-invert-links: #f97316;
}

.prose-amber {
  --prose-links: #d97706;
  --prose-invert-links: #f59e0b;
}

.prose-yellow {
  --prose-links: #ca8a04;
  --prose-invert-links: #eab308;
}

.prose-lime {
  --prose-links: #65a30d;
  --prose-invert-links: #84cc16;
}

.prose-green {
  --prose-links: #16a34a;
  --prose-invert-links: #22c55e;
}

.prose-emerald {
  --prose-links: #059669;
  --prose-invert-links: #10b981;
}

.prose-teal {
  --prose-links: #0d9488;
  --prose-invert-links: #14b8a6;
}

.prose-cyan {
  --prose-links: #0891b2;
  --prose-invert-links: #06b6d4;
}

.prose-sky {
  --prose-links: #0284c7;
  --prose-invert-links: #0ea5e9;
}

.prose-blue {
  --prose-links: #2563eb;
  --prose-invert-links: #3b82f6;
}

.prose-indigo {
  --prose-links: #4f46e5;
  --prose-invert-links: #6366f1;
}

.prose-violet {
  --prose-links: #7c3aed;
  --prose-invert-links: #8b5cf6;
}

.prose-purple {
  --prose-links: #9333ea;
  --prose-invert-links: #a855f7;
}

.prose-fuchsia {
  --prose-links: #c026d3;
  --prose-invert-links: #d946ef;
}

.prose-pink {
  --prose-links: #db2777;
  --prose-invert-links: #ec4899;
}

.prose-rose {
  --prose-links: #e11d48;
  --prose-invert-links: #f43f5e;
}
