---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import config from '../content/config/config.json'
import client from '../../tina/__generated__/client'
import ContactPage from '../../tina/pages/ContactPage.tsx'

const data = await client.queries.contactPage({ relativePath: 'contact.mdx' })
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead pageSeo={data.data.contactPage} />
  </head>
  <body>
    <Header />
    <ContactPage {...data} client:tina />
    <Footer />
  </body>
</html>
