---
/* -------------------------------------------------------------------------- /
    Specific contact page template to render what you want with astro.
    Where you need visual editing from Tina, do that within the ContactPage
    component which is built in React. 
/ -------------------------------------------------------------------------- */

import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import client from '../../tina/__generated__/client'
import ContactPage from '../../tina/pages/ContactPage.tsx'
import { TinaMarkdown } from 'tinacms/dist/rich-text'

const data = await client.queries.page({ relativePath: 'contact.mdx' })

const page = data.data.page
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead pageSeo={page.seo} />
  </head>
  <body data-accent-color="primary">
    <Header />
    <section id="main" data-background-color="neutral-soft">
      <div class="container">
        <header>
          <h1>Let's chat</h1>
        </header>
        {
          page.body && (
            <div class="body prose">
              <TinaMarkdown content={page.body} />
            </div>
          )
        }
        <form action="#">
          <div class="field">
            <label for="name" class="label">Name</label>
            <div class="control">
              <input id="name" type="text" class="input" placeholder="Name" required />
            </div>
          </div>

          <div class="field">
            <label for="email" class="label">Email address</label>
            <div class="control">
              <input
                id="email"
                type="text"
                class="input"
                placeholder="hello@homeworkclub.co"
                required
              />
            </div>
          </div>

          <div class="field">
            <label for="phone" class="label">
              Phone number
              <span class="optional">Optional</span>
            </label>
            <div class="control">
              <input id="phone" type="text" class="input" placeholder="+44 1234 567890" />
            </div>
          </div>

          <div class="field">
            <label for="message" class="label">Message</label>
            <div class="control">
              <textarea id="message" class="input"></textarea>
              <p class="help">Tell us a little about the project</p>
            </div>
          </div>
        </form>
      </div>
    </section>
    <!-- <ContactPage {...data} client:tina /> -->

    <!-- Contact form, not customisable -->
    <Footer />
  </body>
</html>

<style>
  section {
    padding-block: var(--space-4xl);
    text-align: center;
  }

  h1 {
    font-size: var(--step-6);
    font-weight: normal;
    letter-spacing: var(--letter-spacing-normal);
    line-height: var(--line-height-tighter);
  }

  .prose {
    max-width: 40rem;
  }

  form {
    text-align: left;
    margin-inline: auto;
  }
</style>
