---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import config from '../content/config/config.json'
import client from '../../tina/__generated__/client'
import HomePage from '../../tina/pages/HomePage.tsx'
import BaseFoot from '../components/BaseFoot.astro'

const data = await client.queries.page({ relativePath: 'home.mdx' })
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead pageSeo={data.data.page.seo} />
  </head>
  <body data-accent-color="primary">
    <Header />
    <HomePage {...data} client:tina />
    <Footer />

    <BaseFoot />
  </body>
</html>
