/* @link https://utopia.fyi/space/calculator?c=320,18,1.2,1660,18,1.333,6,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  @utopia spaceScale({
    minSize: 16,
    maxSize: 20,
    positiveSteps: [1.5, 2, 3, 4, 6, 8, 11, 16, 24],
    negativeSteps: [0.75, 0.5, 0.25],
    customSizes: ["2xs-s", "xs-m", "s-l", "s-2xl", "m-2xl", "l-s", "l-xl", "l-2xl", "xl-2xl", "xl-3xl", "xl-4xl", "2xl-4xl", "3xl-5xl", "4xl-6xl", "4xl-7xl"],
    prefix: "space",
    relativeTo: "viewport-width"
  });
}