---

---

<section>
  <div class="container">
    <h1>404</h1>
    <p>The page you're looking for doesn't exist.</p>
    <a href="/" class="button">Return home</a>
  </div>
</section>

<style>
  section {
    min-height: 70vh;
    display: grid;
    place-content: center;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
  }

  h1 {
    font-size: var(--step-6);
  }
</style>
