---
import config from '../content/config/config.json'
import Logo from '/public/images/homework-club-logo-colour-light.svg'
import IconLink from './react/IconLink'
import { Image } from 'astro:assets'
const today = new Date()
---

<footer data-background-color="neutral">
  <div class="container">
    <a class="logo" href="/" title="Go to homepage">
      <Image src={Logo} alt="Logo" />
    </a>
    <div class="socials">
      {
        config?.contactLinks?.map((link) => {
          return <IconLink {...link} />
        })
      }
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container">
      <div class="footer__copyright">
        Copyright &copy; {today.getFullYear()}
        {config.footer?.siteName}. All rights reserved. Stay in school.
      </div>
      <div class="footer__links">
        <!-- <a href="/privacy-policy">Privacy Policy</a> -->
        <!-- <a href="/terms-of-service">Terms of Service</a> -->
      </div>
    </div>
  </div>
  <style>
    /* Import breakpoints */
    @import '../styles/variables/breakpoints.css';

    footer {
      --color-link: var(--color-text-secondary);
      --color-link-hover: var(--color-accent);
      color: var(--color-text-secondary);
      padding: var(--space-xl) 0;
      margin-top: var(--section-padding);
      border-radius: var(--radius-lg);
    }

    .container {
      @media (--sm) {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    .logo {
      width: 15rem;
    }

    .footer__bottom {
      font-size: var(--step--1);
      margin-block-start: var(--space-m-xl);
      text-wrap: balance;
    }

    .footer__links {
      display: flex;
      gap: var(--space-m);
    }

    .socials {
      --iconLink-background-color: var(--neutral-950);
      --iconLink-background-color-hover: var(--color-accent);

      display: flex;
      align-items: center;
      gap: var(--space-m);
    }
  </style>
</footer>
