/* -------------------------------------------------------------------------- /
  Button
/ -------------------------------------------------------------------------- */

.button {
  display: inline-flex;
  padding-block: var(--space-s);
  padding-inline: var(--space-m);
  
}