/* -------------------------------------------------------------------------- /
  Link
/ -------------------------------------------------------------------------- */

/* Default config */
[data-accent-color] {
  --color-link: var(--accent-600);
  --color-link-hover: var(--accent-700);
  --color-link-active: var(--accent-700);
}

/* Target specific values if we need to vary from the default */
[data-accent-color='secondary'] {
  --color-link: var(--accent-600);
  --color-link-hover: var(--accent-700);
  --color-link-active: var(--accent-700);
}

[data-background-color='accent'] {
  --color-link: var(--white);
  --color-link-hover: var(--accent-50);
  --color-link-active: var(--accent-50);
}

.link {
  --_link-gap: var(--link-gap, var(--space-2xs));

  color: var(--color-link);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--_link-gap);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--letter-spacing-loose);
  transition: var(--easing);

  span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: var(--_link-gap);
  }

  :is(:hover, :focus-visible) {
    color: var(--color-link-hover);
  }

  &:active {
    color: var(--color-link-active);
  }

  span {
    padding: var(--space-m);
  }
}

/* -------------------------------------------------------------------------- /
  HC Specific
/ -------------------------------------------------------------------------- */

.link {
  img {
    transition: 0.3s all var(--easing);
  }

  :is(:hover, :focus-visible) {
    img {
      transform: translateX(var(--space-xs));
    }
  }
}
