/* -------------------------------------------------------------------------- /
  HC Hero Block
/ -------------------------------------------------------------------------- */

.HcHeroBlock {
  border-bottom-left-radius: var(--radius-lg);
  border-bottom-right-radius: var(--radius-lg); 
}

/* Logo */
.HcHeroBlock {
  svg {
    max-width: 60rem;
  }
  
  .a {
    fill: var(--black);
  }
  .b {
    fill: #e5007d;
  }
}