---
import BaseHead from '../components/BaseHead.astro'
import Navbar from '../components/Navbar.astro'
import Footer from '../components/Footer.astro'
import client from '../../tina/__generated__/client'
import BaseFoot from '../components/BaseFoot.astro'

interface Props {
  pageSeo: any
}

const { pageSeo } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead pageSeo={pageSeo} />
  </head>
  <body data-accent-color="primary">
    <Navbar />
    <main id="main">
      <slot />
    </main>
    <Footer />
    <BaseFoot />
  </body>
</html>
